body {
  padding-top: 50px;
  font-size: 100%;
}

h2 {
  border-bottom: 3px solid #666;
  margin-bottom: 30px;
  margin-top: 30px;
}

.navbar-brand {
  color: #ffffff !important;
  font-size: 35px;
}

#current-time {
  color: #ffffff;
  font-size: 200%;
  line-height: 50px;
  margin-right: 20px;
}

footer {
  font-size: 120%;
}

/* Override Bootstrap */
.container {
  width: 100%;
}
